:root {
  --head-top: 130px;
  --ui-color: blue;
}

body {
  background-color: red;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.customer > * {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.back {
  cursor: grabbing;
  top: calc(var(--head-top) + 300px);
  border-radius: 90px;
  background: var(--skin-color);
  width: 300px;
  height: 500px;
  animation: breath 2s infinite alternate;
  overflow: hidden;
}

.spot {
  display: inline-block;
  width: 25px;
  height: 25px;
}

#points {
  float: left;
  margin: 20px;
}

.head {
  top: var(--head-top);
  width: 240px;
  height: 270px;
  background: var(--skin-color);
  border-radius: 40%;
  z-index: 1;
}

.hair {
  background: var(--hair-color);
  width: 240px;
  height: 260px;
  border-radius: 40%;
}

.ears {
  top: 245px;
  white-space:nowrap;
}

.ear {
  display: inline-block;
  background: var(--skin-color);
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.earRight {
  margin-left: 130px;
}

.neck {
  top: calc(var(--head-top) + 225px);
  width: 90px;
  height: 115px;
  border-radius: 36px;
  background: var(--skin-color);
  animation: breath 2s infinite alternate;
}

@keyframes breath {
  to {
    transform: translateX(-50%) scale(1.05);
  }
}

@keyframes tiltHead {
  to {
    transform: translateX(-50%) rotateX(5deg);
  }
}

#bar {
  width: 100%;
  height: 150px;
  background-color: var(--ui-color);
  left: 0;
  bottom: 0;
  color: pink;
  position: absolute;
}

#bar ::selection {
  background-color: none;
}

@media only screen and (max-device-width: 700px) {
  body {
    width: 95%;
    height: 95%;
  }
  .customer {
    zoom: scale(0.5);
    -moz-transform: scale(0.5);
  }
}
