:root {
  --head-top: 130px;
  --ui-color: cyan;
}

html,body{ margin:0; padding:0; height:100%; width:100%; }

#playScreen {
  background-color: pink;
  height:100%;
  width:100%;
}

.customer {
  mix-blend-mode: difference;
}

.customer > * {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.back {
  cursor: grabbing;
  top: calc(var(--head-top) + 300px);
  border-radius: 90px;
  background: var(--skin-color);
  width: 300px;
  height: 500px;
  animation: breath 2s infinite alternate;
  overflow: hidden;
}

.spot {
  display: inline-block;
  width: 25px;
  height: 25px;
}

#points {
  float: left;
  margin: 20px;
}

.head {
  top: var(--head-top);
  width: 240px;
  height: 270px;
  background: var(--skin-color);
  border-radius: 40%;
  z-index: 1;
}

.hair {
  width: 240px;
  background: var(--skin-color);
  filter: invert(80%);
  height: 260px;
  border-radius: 40%;
}

.ears {
  top: 245px;
  display: inline-block;
  background: var(--skin-color);
  width: 290px;
  height: 75px;
  border-radius: 50px;
}

.neck {
  top: calc(var(--head-top) + 225px);
  width: 90px;
  height: 115px;
  border-radius: 36px;
  background: var(--skin-color);
  animation: breath 2s infinite alternate;
}

@keyframes breath {
  to {
    transform: translateX(-50%) scale(1.05);
  }
}

#hud {
  border: 10px solid white;
  height: 150px;
  background-color: var(--ui-color);
  bottom: 0;
  position: absolute;
  width: calc(100% - 20px);
}

#hud ::selection {
  background-color: none;
}

#progressBar {
  margin: 10px;
  border: 5px solid darkblue;
  background-color: grey;
}

#pleasureBar {
  height: 30px;
  background-color: green;
}

#timer {
  font-size: 24px;
  width: min-content;
  border: 5px solid brown;
  background: black;
  color: lightgreen;
  margin: 10px;
}
