* {
  user-select: none;
  -webkit-user-select: none;
}

html, body {
  font-family: monospace;
  font-size: 1.2em;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

button {
  background: #444;
  color: white;
}

.hidden {
  display: none;
}

::selection {
  background: none;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.inactiveCover {
  filter: brightness(50%) !important;
}

.inactiveCover * {
  animation-play-state: paused !important;
}

.playScreen {
  width: 100%;
  height: 100%;
}

.manual > div {
  background-color: #fff;
  color: #000;
  margin: auto;
  overflow-y: auto;
  padding: 20px;
  width: 80%;
}

.manual > div > button {
  display: block;
  margin-top: 20px;
}


/* CUSTOMER */

.customerContainer {
  width: 550px;
  height: calc(100% - 170px);
  position: relative;
  display: inline-block;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(68, 37, 148, 1) 100%);
}

.customer {
  transition: filter 1s;
}

.customer > * {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  --head-top: 130px;
}

.head {
  top: var(--head-top);
  width: 240px;
  height: 270px;
  background: var(--skin-color);
  border-radius: 40%;
  z-index: 1;
}

.hair {
  width: 240px;
  background: var(--skin-color);
  filter: invert(80%);
  height: 260px;
  border-radius: 80px;
}

.hair.long {
  height: 400px;
  border-radius: 50px 50px 90% 90%;
}

.ears {
  top: 245px;
  display: inline-block;
  background: var(--skin-color);
  width: 290px;
  height: 75px;
  border-radius: 20px 20px 50px 50px;
}

.neck {
  top: calc(var(--head-top) + 225px);
  width: 90px;
  height: 115px;
  border-radius: 36px;
  background: var(--skin-color);
  animation: breath 2s infinite alternate;
}

.spot {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.back {
  cursor: grabbing;
  top: calc(var(--head-top) + 300px);
  border-radius: 90px;
  background: var(--skin-color);
  width: 300px;
  height: 500px;
  animation: breath 2s infinite alternate;
  overflow: hidden;
}

.inactiveCover .back {
  cursor: default;
}


/* HUD */

.hud {
  border: 10px solid #333;
}

.hudBar {
  height: 150px;
  bottom: 0;
  position: absolute;
  width: calc(100% - 20px);
  background: linear-gradient(45deg, #c0c0c0 0%, #ffffff 50%, #808080 100%);
}

#points {
  float: left;
  margin: 20px;
}

#progressBar {
  margin: 10px;
  border: 5px solid #686868;
  background-color: #000;
}

#satisfyBar {
  height: 30px;
  box-shadow: 0 0 5px 5px green;
  background: linear-gradient(0deg, rgba(60, 255, 0, 1) 0%, rgba(0, 255, 166, 1) 50%, rgba(60, 255, 0, 1) 100%);
  transition: width 0.5s;
}

#timer, #money {
  background: black;
  border: 5px solid #686868;
  color: #00f900;
  display: inline-block;
  font-size: 24px;
  margin: 10px;
  padding: 5px;
}

#money:before {
  content: '$';
}


/* -- MENU */

.menu {
  cursor: pointer;
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 2;
}

.menu > p {
  display: inline-block;
  filter: drop-shadow(0px 0px 3px #000);
  font-size: 50px;
  margin: 5px;
}

.menu > *:hover {
  transform: scale(1.05);
}

.backToTitle {
  filter: drop-shadow(0px 0px 3px #fff) !important;
}

.pulsating {
  animation: pulsation 0.5s infinite alternate;
}


/* -- MANAGEMENT */

.management {
  width: calc(100% - 560px);
  display: inline-block;
  height: calc(100% - 170px);
  float: right;
  border-left: 10px solid #333;
}

.tabs {
  background: #222;
}

.tabs > * {
  border: 10px solid #333;
  color: black;
  cursor: pointer;
  display: table-cell;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: -10px;
}

.tabs > .current {
  border-bottom: 10px solid transparent;
}

.management > div:not(.tabs) {
  border-top: 10px solid #333;
  overflow-y: auto;
  height: calc(100% - 70px);
  border-right: 10px solid #333;
}

.management > div:not(.tabs):not(.current) {
  display: none;
}

.management .powerUps {
  background: red;
}

.management .equipment {
  background: blue;
}

.management .personnel {
  background: green;
}

.item {
  width: 400px;
  position: relative;
  margin: 10px;
  height: 200px;
  display: inline-table;
  background: yellow;
}

.item > h1 {
  margin: 5px;
  text-decoration: underline;
}

.item > p {
  margin: 5px;
}

.item > .bottomRow {
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.item > .bottomRow > * {
  display: inline;
  margin: 5px;
}

.amount:after {
  content: ' (x'attr(data-worth) ')';
}

.price:before {
  content: '$';
}


/* TITLE SCREEN */

.titleScreen {
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  background: #BBB;
  width: 100%;
  height: 100%;
}

.titleScreen button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 3em;
  filter: drop-shadow(0px 0px 10px #000);
}

.titleScreen .menu {
  all: initial;
}

#title {
  animation: pulsation 10s infinite alternate;
  filter: drop-shadow(0px 0px 5px #000);
  font-size: 7em;
  margin: 100px;
}

#title > p {
  font-size: 0.3em;
}

#title a {
  color: #444;
}

#version {
  left: 10px;
  bottom: 30px;
  position: absolute
}

#feedBrowser {
  position: absolute;
  bottom: 0;
  animation: slide 25s linear infinite;
  font-size: 1.5em;
  white-space: nowrap;
}

/* SETTINGS WINDOW */

.modal {
  position: fixed;
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.settingsWin > div {
  color: #fff;
  background-color: #777;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.settingsWin label {
  display: block;
}

.settingsWin button {
  margin-top: 20px;
  padding: 10px;
  background: #555;
}


/* KEYFRAMES */

@keyframes slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes breath {
  to {
    transform: translateX(-50%) scale(1.05);
  }
}

@keyframes pulsation {
  to {
    transform: scale(1.1);
  }
}


/* MOBILE */

@media (max-device-width: 1200px), (max-device-height: 890px) {

  * {
    animation: initial;
  }

  .customer {
    transform: scale(.5);
  }

  .customerContainer {
    width: 100%;
  }

  .menu > p {
    font-size: 1.5em;
  }

  .management {
    display: none;
  }

  .titleScreen button {
    font-size: 1em;
  }

  #title {
    text-align: center;
    word-spacing: 100vw;
    font-size: 3em;
    margin: 40px auto;
  }

  #title > p {
    word-spacing: initial;
  }

  #version {
    bottom: 0px;
  }

  #feedBrowser {
    display: none;
  }

}
